/.idea/GoGameServer.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/workspace.xml
*.exe
/.github
*.log
/bin/GoGameServer
/bin/GoGameServer.exe
bin/gate.prof
bin/game.prof
bin/login.prof
